<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nl.tue.demothermostat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.thermostatapp.util.GlobalResources"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Home"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WeekOverview"
            android:label="Thermostat"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WeekDay"
            android:label="@string/title_activity_week_day" />
        <activity
            android:name=".ThermostatActivity"
            android:label="Thermostat" />
        <activity
            android:name=".ConfigurationActivity"
            android:label="@string/title_activity_configuration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TemperaturePicker"
            android:label="@string/title_activity_temperature_picker"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>